[Unit]
Description=Sync system files and push changes to github repository
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /mnt/core/os-configs/user-configs/custom/bin/backup-configs.sh
ExecStartPost=/bin/bash /mnt/core/os-configs/user-configs/custom/bin/git-autopush.sh

[Install]
WantedBy=default.target
