[Unit]
Description=Sync system files and push changes to github repository
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
StandardOutput=journal
StandardError=journal
ExecStart=/bin/bash -c 'backup-configs.sh && git-autopush.sh'

[Install]
WantedBy=default.target
